@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

elemento {
  --cor-primary: #121630;
  --cor-secundary: #232a58;
  --color-grey: #575757;
}

/* Padrões */


html
body,
html,
div,
p {
  z-index: 3;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  line-height: 1.5;
}

body{
  background: #EFEFEF;
  background-image: url(../img/simbolo\ -\ verde\ azulado.png);
  background-repeat: no-repeat;
  background-size: 700px;
  background-position-x: -199px;
  background-position-y: 1200px;
}

@media (max-width: 690px) {
  body{
    background-image:none;
  }
}

.thickborder-r{
  border-right: solid 1px #000;
}

.navbar-main {
  height: 90px;
}

/* end padrões */

/* header */
header {
  height: auto;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: white;
}

.navbar-brand{
  margin-left: 10%;
}

.nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: 0 90px;
}

.logo {
  height: 40px;
  margin-left: 55px;
}


@media (max-width: 690px) {
  .logo {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.nav-top a {
  color: white;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}
.nav-top a:hover {
  color: #30CD9A;
}

.navbar-nav {
  width: 450px;
  padding-right: 30px;
}

#contatonav {
  margin-right: 49px;
}
@media (max-width: 690px) {
#contatonav{
  margin: 0;
}
}

.nav-link:hover{
  color: grenn
}

.nav-infos {
  display: flex;
  justify-content: space-around;
  align-items: left;
  height: 90px;
}

.nav-infos li {
  width: 180px;
  text-align: right;
}

nav a {
  text-align: center;
  font-size: 19px;
}

.nav-top {
  /* height: 95px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-top ul {
  margin-left: 140px;
}


@media (max-width: 690px) {
  .nav-top ul {
    margin-left: 80px;
  }
}

/* end header */
.mega-banner {
  background-image: url(../img/Banner_1920x500.png);
  background-position: right;
  height: 500px;
  text-align: left;
  width: 100%;
  padding: 25px 90px 90px;
  padding-left: 10%;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.w-45{
  max-width: 60%;
}
.w-lg-50{
  width: 100%;
}
@media (max-width: 690px) {
  .mega-banner{
    background-image: none;
    background-color: #00a29d;
    height: auto;
    padding: 30px;
    font-size: auto;
  }
  .w-45{
    max-width: 100%;
  }
  .w-lg-50{
    width: 100%;
  }
}

.mega-banner p {
  text-align: left;
  font-size: 16px;
  color: black;
  line-height: 1.7;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  margin: 40px 0;
}

.mega-banner h3 {
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 30px;
  white-space: nowrap;
}

@media (max-width: 690px) {
  .mega-banner h3 {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 30px;
    white-space: nowrap;
  }
}

.mega-banner h3 > span.white-txt {
  color: white;
}

.btn-banner button{
  border: none;
}

.main-btn button{
  border: none;
    border-radius: 10px;
    border: none;
    width: 230px;
    height: 34px;
    font-weight: bold;
}
@media (max-width: 690px) {
  .main-btn button{
    width: 100%;
  }
}
.main-btn a{
  color: inherit;
}

a:link{
  color: white;
}
button:hover{
  background: black;
  color: white;
}

@media (max-width: 690px) {
  .btn-banner{

    font-size: 10px;
  }
}





@media (max-width: 690px) {
  .btn-banner {
    width: 100%;
    background: white;
    display: flex;
    align-items: center;
    padding: 08px;
    justify-content: center;
    margin-top: 10px;
    border-radius: 08px;
  }
}


/* section clube-de-tiro */
.info-services {
  display: grid;
  grid-template-columns: 6fr 6fr;
  grid-gap: 28px;
  padding: 0 90px;
  height: auto;
  color: black;
  width: 100%;
  background-image: url(../img/circulo\ verde\ -\ empresas.png);
  background-repeat: no-repeat;
  background-size: 280px;
  background-position-x: 103%;
  background-position-y: 325px;
  z-index: 50;
}

@media (max-width: 1200px) {
  .info-services {
    background-image: none;
  }
}


@media (max-width: 690px) {
  .info-services {
  grid-template-columns: 12fr;
  padding: 20px;
  }
}

.info-services h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 800;
  padding: 0 20px 0 0;
}

#servicos{
  margin-left: 05%;
  font-size: 60px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  padding: 0 88px;
}

@media (max-width: 690px) {
  #servicos{
    padding: 20px;
  }
}
  
.info-services p {
  text-align: left;
  font-size: 15px;
  color: black;
  line-height: 1.7;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
}


.fundo {
  text-align: left;
  width: 90%;
  margin-left: 10%;
  padding: 50px 10px;
  height: 450px;
}

@media (max-width: 690px) {
  .fundo {
    margin: 0;
    padding: 20px;
    font-family: "Montserrat", sans-serif;
    text-align: left;
    height: 250px;
  }
}

.fundo h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  padding: 25px 0px;
}


.capital {
  margin: 0;
  font-family: "Montserrat", sans-serif;
   text-align: left;
   margin-right: 10%;
   width: 90%;
  padding: 50px 10px;
  height: 450px;
}

@media (max-width: 690px) {
  .capital {
    margin: 0;
    padding: 20px;
    font-family: "Montserrat", sans-serif;
    text-align: left;
    height: 329px;
  }
}

.capital h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  padding: 25px 0px;
}




@media (max-width: 690px) {
  .main {
    height: auto;
    margin: 0;
  }

}

.main2{
  background: none;
}

.empresas {
  margin-left: 10%;
}

@media (max-width: 690px) {
  .empresas {
    padding: 20px;
    margin: 0;
  }

}


.empresas h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 800;
  padding: 0 20px 0 0;
}

.empresas p {
  text-align: left;
  padding: 0 20px 0 0;
}

.desk {
  background-color: #00b7ff;
  width: 90%;
  margin-right: 10%;
  padding: 20px 50px;
  height: 450px;
  line-height: 1.3;
  text-align: left;
  margin-bottom: 10px;
}

.desk h5 {
  margin-bottom: 15px;
  font-size: 35px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

.desk h4 {
  margin-bottom: 15px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

@media (max-width: 690px) {
  .desk {
    height: auto;
    width: auto;
     padding: 15px;
     margin: 0;
  }
}





.hosts {
  background-color: #30cd9a;
  width: 90%;
  margin-left: 10%;

  padding: 20px 50px;
  height: 490px;
  line-height: 1.3;
  text-align: left;
  margin-bottom: 30px;

}

@media (max-width: 690px) {
  .hosts {
    height: auto;
    width: auto;
    padding: 15px;
    margin: 0;
  }
}

.hosts h5 {
  margin-bottom: 15px;
  font-size: 35px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.hosts h4 {
  margin-bottom: 15px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.keruak {
  background-color: #2fb6bc;
  width: 90%;
  margin-right: 10%;
  padding: 20px 50px;
  height: 490px;
  line-height: 1.3;
  text-align: left;
  margin-bottom: 30px;
}

@media (max-width: 690px) {
  .keruak {
    height: auto;
    width: auto;
    padding: 15px;
    margin: 0;
  }
}

.keruak-img{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 50%;
  padding-left: 15px;
  margin: 15px -10px;
}

.keruak-img-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 50%;
  padding-left: 15px;
  margin: 15px -35px;
}

@media (max-width: 690px) {
  .keruak-img-main {
    padding-left: 15px;
    margin: 15px -10px;
  }
}

.keruak-img img{
  height: 60px;
  width: 12px;;
}

.keruak h5 {
  margin-bottom: 15px;
  font-size: 35px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.keruak h4 {
  margin-bottom: 15px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.footer {
  display: grid;
  margin-top: 35px;;
  grid-template-columns: 6fr 6fr;
  background-image: url(../img/footer_black_final.png);
  background-size: cover;
  grid-gap: 8px;
    padding: 0 90px;
  background-repeat: no-repeat;   
  width: 100%;
  justify-content: center;
  height: 540px;
}

@media (max-width: 690px) {
  .footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .empresas{
    background: none;
  }
}

.footer h3 {
  margin-bottom: 15px;
  font-size: 45px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

@media (max-width: 690px) {
  .footer {
    background-color: black;
    padding: 0;
    margin: 0;
    height: auto;
    width: 100%;
  }
}



.rdp-content {
  margin-left: 09%;
  margin-top: 70px;
  line-height: 2.0;
  text-align: left;
  text-align: left;
  width: 100%;
  color: white;
  font-size: 13px;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 690px) {
  .rdp-content {
  margin: 0;

  padding: 20px;
  }
}


.formulario {
  display: flex;

  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: center;
}

.formulario .hbspt-form{
  width: 90%;
  text-align: center;
}

@media (max-width: 690px) {
  .formulario {
    justify-content: center;
    margin: 0 auto;
    padding: 0;
  }
  .formulario .hbspt-form{
    width: 100%;
    padding-bottom: 15px;
  }
}
.formulario .hs-input {
    color: white;
    border: 3px solid white;
    margin-bottom: 15px;
    background-color: black;
    width: 90%;
    padding: 15px;
}
.formulario .hs_submit .actions {
  text-align: center;
}

.formulario .hs_submit input {
    border: none;
    border-radius: 10px;
    border: none;
    width: 150px;
    height: 34px;
    margin: 0 auto;
    font-weight: bold;
}
.formulario .hs_submit input:hover {
    background: #00B7FF;
    color: white;
}
.formulario label{
  color: #FFF;
}

.formulario .hs_submit input ::placeholder, .formulario .hs_submit input :-ms-input-placeholder, .formulario .hs_submit input ::-ms-input-placeholder {
  color: #FFF !important;
  opacity: 1; /* Firefox */
}

.main-rdp{
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  padding: 0 90px;
  margin-left: 03%;
  align-items: center;
}

@media (max-width: 690px) {
  .main-rdp{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }

}
.main-rdp p{
  margin-top: 13px;
  color: black;
}
.main-rdp a{
  margin-left: 19px;
  color: black;
}
@media (max-width: 690px) {
.main-rdp a{
  margin: 10 auto;
}
}

.img-rdp{
  height: 90px;
  margin-top: 30px;
  margin-right: 180px;
  margin-bottom: 20px;
}

@media (max-width: 690px) {
  .img-rdp{
        margin: 05px auto;
  }
}
