@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

elemento {
  --cor-primary: #121630;
  --cor-secundary: #232a58;
  --color-grey: #575757;
}

/* Padrões */


html
body,
html,
div,
p {
  z-index: 3;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  line-height: 1.5;
}



.navbar-main {
  height: 90px;
}

/* end padrões */

/* header */
header {
  height: auto;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: white;
}

.nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: 0 90px;
}

.logo {
  height: 40px;
  margin-left: 55px;
}

#contatonav {
  margin-left: -70px;
}

@media (max-width: 690px) {
  .logo {
    margin: 0;
  }
}

.nav-top a {
  color: white;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}
.nav-top a:hover {
  color: green;
  
}

.nav-link:hover{
  color: grenn
}

.nav-infos {
  display: flex;
  justify-content: space-around;
  align-items: left;
  height: 90px;
}

.nav-infos li {
  width: 180px;
  text-align: right;
}

nav a {
  text-align: center;
  font-size: 19px;
}

.nav-top {
  height: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-top ul {
  margin-left: 140px;
}

/* end header */
.mega-banner {
  background-image: url(../img/Banner_1920x500.png);
  background-position: right;
  height: 500px;
  text-align: justify;
  width: 100%;
  padding: 90px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

@media (max-width: 690px) {
  .mega-banner{
    background-image: none;
    background-color: #00a29d;
    height: auto;
    padding: 30px;
    font-size: auto;
  }

}

.mega-banner p {
  text-align: justify;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

.mega-banner h3 {
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 30px;
}

@media (max-width: 690px) {
  .mega-banner h3 {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 30px;
  }
}

.mega-banner h3 > span {
  color: white;
}

.btn-banner {
  width: 290px;
  background: white;
  display: flex;
  align-items: center;
  padding: 08px;
  justify-content: center;
  margin-top: 10px;
  border-radius: 08px;
}

.btn-banner p{
  font-size: 16px;
}

@media (max-width: 690px) {
  .btn-banner{
    font-size: 15px;
  }
}

.btn-banner:hover {
  color: white;
  background-color: black;
}

.btn-banner a:hover{
  color: white;
}

@media (max-width: 690px) {
  .btn-banner {
    width: 100%;
    background: white;
    display: flex;
    align-items: center;
    padding: 08px;
    justify-content: center;
    margin-top: 10px;
    border-radius: 08px;
  }
}



.btn-banner a {
  font-family: sans-serif;
  color: black;
  font-weight: 900;
}

/* section clube-de-tiro */
.info-services {
  display: grid;
  grid-template-columns: 6fr 6fr;
  grid-gap: 8px;
  padding: 0 90px;
  height: auto;
  color: black;
  width: 100%;
  background-image: url(../img/circulo\ verde\ -\ empresas.png);
  background-repeat: no-repeat;
  background-size:200px;
  background-position-x: 1100px;
  background-position-y: 178px;
  z-index: 50;
}

@media (max-width: 690px) {
  .info-services {
  grid-template-columns: 12fr;
  padding: 20px;
  }
}

.info-services h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 800;
  padding: 0 20px 0 0;
}


.info-services p {
  text-align: justify;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}


.fundo {
  width: 100%;
  text-align: justify;
}

.fundo h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  padding: 25px 0px;
}


.capital {
  margin: 26px 20px;
  font-family: "Montserrat", sans-serif;
  text-align: justify;
}

@media (max-width: 690px) {
  .capital {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    text-align: justify;
  }
}

.capital h5 {
  font-family: "Montserrat", sans-serif;
  padding: 30px 0px;
  font-weight: 900;
}




@media (max-width: 690px) {
  .main {
    height: auto;
    margin: 0;
  }

}

.main2{
  background: none;
}

.empresas {
  padding-top: 25px;
  background-image: url(../img/simbolo\ -\ verde\ azulado.png);
  background-repeat: no-repeat;
  background-size: 400px;
  background-position-x: -55px;
  background-position-y: 100px;
}

@media (max-width: 690px) {
  .empresas {
    margin: 10px;
    padding-top: 25px;
  }

}


.empresas h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 800;
  padding: 0 20px 0 0;
}

.empresas p {
  text-align: left;
  padding: 0 20px 0 0;
}

.desk {
  background-color: #00b7ff;
  width: 90%;
  padding: 50px 50px;
  height: 450px;
  line-height: 1.3;
  text-align: left;
  margin-bottom: 10px;
}

.desk h5 {
  margin-bottom: 15px;
  font-size: 35px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

.desk h4 {
  margin-bottom: 15px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

@media (max-width: 690px) {
  .desk {
    height: auto;
    width: auto;
    padding: 05px;
  }
}





.hosts {
  background-color: #30cd9a;
  width: 90%;
  padding: 50px 50px;
  height: 470px;
  line-height: 1.3;
  text-align: left;
  margin-bottom: 30px;

}

@media (max-width: 690px) {
  .hosts {
    height: auto;
    width: auto;
    padding: 05px;
  }
}

.hosts h5 {
  margin-bottom: 15px;
  font-size: 35px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.hosts h4 {
  margin-bottom: 15px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.keruak {
  background-color: #2fb6bc;
  width: 90%;
  padding: 50px 50px;
  height: 470px;
  line-height: 1.3;
  text-align: left;
  margin-bottom: 30px;
}

@media (max-width: 690px) {
  .keruak {
    height: auto;
    width: auto;
    padding: 05px;
  }
}

.keruak-img{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 50%;
  padding-left: 15px;
  margin: 15px -10px;
}

.keruak-img img{
  height: 60px;
  width: 12px;;
}

.keruak h5 {
  margin-bottom: 15px;
  font-size: 35px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.keruak h4 {
  margin-bottom: 15px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.footer {
  display: grid;
  grid-template-columns: 6fr 6fr;
  background-image: url(../img/footer_black_final.png);
  background-size: 100%;
  grid-gap: 8px;
    padding: 0 90px;
  background-repeat: no-repeat;
  width: 100%;
  justify-content: center;
  height: 540px;
}

@media (max-width: 690px) {
  .footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}

.footer h3 {
  margin-bottom: 15px;
  font-size: 45px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

@media (max-width: 690px) {
  .footer {
    background-color: black;
    padding: 0;
    margin: 0;
    height: auto;
    width: 100%;
  }
}



.rdp-content {
  margin-top: 70px;
  line-height: 2.0;
  text-align: justify;
  text-align: left;
  width: 100%;
  color: white;
  font-size: 13px;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 690px) {
  .rdp-content {
  margin: 0;

  padding: 20px;
  }
}


.formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 690px) {
  .formulario {
    justify-content: center;
    margin: 0 auto;
    padding: 0;
  }
}


.main-rdp{
  display: flex;
  width: 100%;
  margin-top: 50px;
  height: 10px;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: 690px) {
  .main-rdp{
    flex-direction: column;
    padding: 00px;
    height: auto;
    margin: 20px 0;
  }
  
}
.main-rdp p{
  margin-top: 13px;
  color: black;
}
.main-rdp a{
  margin-left: 19px;
  color: black;
}

.img-rdp{
  height: 90px;
  margin-top: 30px;
  margin-right: 180px;
}

@media (max-width: 690px) {
  .img-rdp{
    height: 90px;
    margin-top: 30px 90px;
  }
}


